@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .feature-edit .title {
        @apply tracking-[0.675rem]
        uppercase
        text-[1.125rem]
        pb-[0.2rem]
        mr-[-0.675rem]
        my-10
        font-source-sans
        font-semibold;
    }
    .tile-title {
        @apply tracking-[0.0375rem]
        mr-[-0.0375rem]
        uppercase
        text-[1rem]
        text-[#202020]
        p-0
        mt-1
        font-source-sans
        leading-7
        font-semibold;
    }

    .tile-subheading {
        @apply tracking-[0.0375rem]
        mr-[-0.0375rem]
        uppercase
        text-[0.75rem]
        text-[#909090]
        pb-[0.2rem]
        mt-1
        font-source-sans
        font-semibold;
    }
    h1 {
        @apply tracking-[1rem]
        text-[1.75rem]
        uppercase
        pb-[0.5rem]
        mr-[-1rem]
        my-10
        font-source-serif;
    }

    h2 {
        @apply tracking-[0.25rem]
        text-[1.5rem]
        pb-[0.2rem]
        mr-[-0.25rem]
        my-10
        font-source-serif;
    }

    p {
        @apply py-3
        text-[1.2rem]
        text-[#202020]
        leading-10
        font-source-sans;
    }

    a {
        @apply bg-transparent;
    }

    .feature-edit h1 {
        @apply tracking-[0.25rem]
        text-[2.5rem]
        capitalize
        mr-[-0.25rem];
    }

    .feature-edit p {
        @apply text-[0.875rem]
        leading-7
        pt-0
        pb-[0.5rem]
        text-white
        font-source-sans;
    }

    .content h1,
    .content h2,
    .content h3,
    .content h4,
    .content h5,
    .content h6 {
        @apply font-source-sans
        uppercase
        font-semibold
        my-5;
    }

    .content p {
        @apply max-w-[960px];
    }

    .content a {
        @apply border-b border-[#E8CB2A] text-[#202020] font-semibold;
    }

    .content a:hover {
        @apply no-underline
        border-b-0
        text-[#707070];
    }
    .content ul {
        @apply list-disc
        pl-5
        py-3;
    }

    .content ol {
        @apply list-decimal
        pl-5
        py-3;
    }

    .content ul li,
    .content ol li {
        @apply py-3
        text-[1.2rem]
        text-[#202020]
        leading-5
        font-source-sans;
    }

    .button {
        @apply bg-[#E3C344]
        border-2
        border-[#E3C344]
        uppercase
        text-[0.9375rem]
        text-[#202020]
        font-semibold
        text-center
        py-3
        tracking-[0.0375rem]
        mr-[-0.0375rem]
        my-10
        px-10
        font-source-sans;
    }

    .button-small {
        @apply text-[0.5625rem]
        my-0
        py-1
        px-6;
    }

    .button-black {
        @apply bg-[#202020]
        border-[#202020]
        text-white;
    }

    .button-outline {
        @apply bg-transparent
        border-2
        border-[#202020]
        box-border;
    }

    .button-outline-white {
        @apply bg-transparent
        border-2
        border-[#ffffff]
        text-[#ffffff]
        box-border;
    }

    .h-underline {
        @apply relative
        after:left-0
        after:bottom-0
        after:h-[2px]
        after:w-[85px]
        after:bg-[#E8CB2A]
        after:absolute;
    }

    /* Scrollbar styles */
    * {
        scrollbar-width: thin;
        scrollbar-color: #707070 #cbccc6;
    }

    *::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    *::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px white;
        border-radius: 10px;
    }

    *::-webkit-scrollbar-thumb {
        background: #707070;
        border-radius: 10px;
    }

    /* Arrows */
    .arrow {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-top: 2px solid #707070;
        border-right: 2px solid #707070;
    }

    .arrow-top {
        transform: rotate(-45deg);
    }

    .arrow-right {
        transform: rotate(45deg);
        margin-right: 20px;
    }

    .arrow-bottom {
        transform: rotate(135deg);
    }

    .arrow-left {
        transform: rotate(-135deg);
        margin-left: 20px;
    }
}
